<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {%block header%} <h1>网站头部</h1> {%endblock%}
  {%block content%} <h1>网站正文</h1> {%endblock%}
  {%block footer%} <h1>网站底部</h1> {%endblock%}
</body>
</html>