<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>小码哥</title>
</head>
<body>
  {%block header%} <p>头部</p> {%endblock%}
  {%block content%} <p>正文</p> {%endblock%}
  {%block footer%} <p>底部</p> {%endblock%}
  
</body>
</html>